
body {
	text-align: center;
}

#bg {
	position: fixed; 
	top: 0; 
	left: 0; 
	opacity: 0.2;

	/* Preserve aspet ratio */

	min-width: 100%;
	min-height: 100%;
}

#music { 
	position: relative;
	top: 350px;
	left: -450px;
}

.water-block{
	background-position: 0 0;
	width: 101px;
	height: 171px;
}

.legend{
	font-size: 20px;
	color: #FFFFFF;
	border-style: solid;
	padding: 5px;
	background-color: #3399FF;
	border-width: 1px;
	box-shadow: 10px 10px 5px #888888;
}

#lives{
	font-size: 20px;
	color: #B00000;
	border-style: solid;
	padding: 5px;
	background-color: #3399FF;
	border-width: 1px;
	box-shadow: 10px 10px 5px #888888;
}

#name{
	font-size: 32px;
	color: #FFFFFF;
	border-style: solid;
	padding: 5px;
	background-color: #3399FF;
	border-width: 1px;
	box-shadow: 10px 10px 5px #888888;
}

button {
	position: absolute;
	top: 20px;
	left: 20px;
}

#start {
	left: 230px;
	top: 220px;
	font-size: 20px;
	color: #FFFFFF;
	border-style: solid;
	padding: 5px;
	background-color: #3399FF;
	border-width: 1px;
	box-shadow: 10px 10px 5px #888888;
}

#stop {
	left: 330px;
	top: 220px;
	font-size: 20px;
	color: #B00000;
	border-style: solid;
	padding: 5px;
	background-color: #3399FF;
	border-width: 1px;
	box-shadow: 10px 10px 5px #888888;
}